---
import { Image } from "astro:assets";
const { imgSrc, name, alt = undefined, withOverlay = false } = Astro.props;
---

<div class="flex flex-col items-center gap-2 relative">
  {
    withOverlay && (
      <div class="absolute inset-0 flex items-center justify-center -z-10">
        <div
          class="w-full max-w-[180px] aspect-square rounded-full"
          style="background: linear-gradient(0deg, #EFEFEF 0%, #EFEFEF 100%), #EFEFEF; opacity: 0.2; filter: blur(40px);"
        />
      </div>
    )
  }

  <Image
    src={imgSrc}
    alt={alt ?? name}
    class="w-full max-w-[180px] aspect-square"
  />

  <p
    class="font-black font-pixelated text-lg leading-1.2 tracking-[-0.72px] text-center"
  >
    {name}
  </p>
</div>
