---
import { Image } from "astro:assets";
const { imgSrc, name, alt = undefined, withOverlay = false } = Astro.props;
---

<div class="flex flex-col items-center gap-2 relative">
  <div class="relative w-full max-w-[180px] aspect-square">
    {/* Added relative z-10 to ensure image sits cleanly on top */}
    <Image src={imgSrc} alt={alt ?? name} class="z-10" />
    {
      withOverlay && (
        <div class="absolute inset-0 flex justify-center -z-10">
          <div class="w-[150%] aspect-square rounded-full bg-brand-light blur-2xl opacity-50" />
        </div>
      )
    }
  </div>

  <p
    class="font-black font-pixelated text-lg leading-1.2 tracking-[-0.72px] text-center"
  >
    {name}
  </p>
</div>
