---
import star from "@/assets/benefits/star.webp";
import Image from "astro/components/Image.astro";

const { name } = Astro.props;
---

<div class="flex gap-8 items-center">
  <Image src={star} alt="Star bullet point" class="w-8 h-8" />
  <p class="text-brand-pink font-black uppercase">{name}</p>
</div>
